body {
  height:100vh
}


.extend {
  height:100vh
}

hr {
  background-size: 4px;
  border-top: 4px solid #2F4F4F;
  border-color:#2F4F4F;
}

.top-buffer {
  margin-top:20px;
}

.gallery-image {
  height:250px;
  width:250px;
  border-radius:50%;
}

.hidden-panel {
  display:none;
}
